<div class="sg-DesignSystemItem">
  {% for family, types in datas %}
    <h3>{{ family }}</h3>
    <div class="sg-MainContent-list--column">
      {% for name, colors in types %}
        <div class="sg-Card"
             style="height: 50px;background-image:linear-gradient(to right, {{ colors|join(',') }});background-size: 25% 100%;">
          <div>
            <span>{{ name }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
